body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ad3a70;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    
    font-size: 32px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.featured, .recent-posts {
    padding: 20px;
}

.featured img, .recent-posts img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 150px;
}

.post h3 {
    margin-bottom: 10px;
}

.post p {
    color: #666;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00fff2;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #009eb3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
